.footer-right_box {
  margin: 0 0;

  @media screen and (min-width: $min-tablet) {
    margin-top: 60px;
  }
  @media screen and (min-width: $min-desktop) {
    margin-top: 0px;
  }
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $min-desktop) {
    flex-direction: row;
  }
}

.form-subscribe__field {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $min-desktop) {
    align-items: flex-start;
  }
}

.form-subscribe__field input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-subscribe__input {
  width: 358px;
  height: 50px;
  margin-bottom: 20px;

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  @media screen and (max-width: $pre-mobile) {
    width: 100%;
  }
}

.form-subscribe__label input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__input:focus {
  border: 1px solid $brand-color;
}

.form-subscribe__button {
  @include centerFLEX();
  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;

  font-size: 16px;
  line-height: 1.87;

  border: transparent;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $white-color;

  @media screen and (min-width: $min-desktop) {
    margin-left: 12px;
    margin-top: 15px;
  }
}

.form-subscribe__svg {
  margin-left: 10px;
  fill: $white-color;
}
