.footer-left_box {
  @media screen and (max-width: $max-tablet) {
    text-align: center;
  }

  @media screen and (min-width: $min-desktop) {
    //   display: flex;
    // flex-direction: column;
    // align-items: center;

    align-items: flex-start;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $min-desktop) {
    align-items: flex-start;
  }
}

.footer__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  cursor: pointer;
  transition: color $t250 $cubic;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__item:nth-child(3n) {
  margin-bottom: 0;
}

.footer__text:hover,
.footer__text:focus {
  color: $white-color;
}
