.menu-button {
  z-index: 850;
  display: inline-flex;
  position: absolute;
  right: 4%;
  border: 0;
  border-radius: 20%;
  background-color: transparent;
  fill: var(--secondary-text-color);

  @media screen and (min-width: $min-tablet) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container.is-open {
  z-index: 800;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-container {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background-color: $white-color;
  border-radius: 4 px;

  @media screen and (min-width: $min-tablet) {
    display: flex;
    position: unset;
    padding: 0;
  }
}
