.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin: -15px;
  }

  @media screen and (min-width: 1170px) {
    flex-wrap: inherit;
    margin: 0;
  }
}

.features__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1170px) {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1170px) {
      .features__item:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.features__svg {
  background-color: $pot-button-color;
  text-align: center;
  border-radius: 4px;
  padding: 25px 0;
}

.features__title {
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-bg-color;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
