.team {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: $min-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__foto {
  width: 450px;
  height: auto;
}

.team__item {
  background: $white-color;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $min-tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $min-desktop) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $secondary-bg-color;
}

.team__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $primary-text-color;
}
