.section {
  padding: 60px 0;

  @media screen and (min-width: $min-desktop) {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;

  color: $secondary-bg-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  @media screen and (min-width: $min-desktop) {
    margin-bottom: 50px;
  }
}

.section__background {
  background: $pot-button-color;
}
