$brand-color: #2196f3;
$brand-black-color: #000000;
$secondary-bg-color: #212121;
$primary-text-color: #757575;
$banner-color: #2f303a;
$white-color: #ffffff;
$pot-button-color: #f5f4fa;
$social-color: #afb1b8;
$header-border-color: #ececec;
$portfolio-color: #eeeeee;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$t250: 250ms;
$rgba-hero: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
$hero-button-rgba: rgba(0, 0, 0, 0.15);
$works-rgba: rgba(47, 48, 58, 0.8);

// width
// Від 0px і до [ max-width 479px / 767px / 1199px ]
// Від [ min-width 480px / 768px / 1200px ] і до безкінечності
$pre-mobile: 479px;
$min-mobile: 480px;
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1199px;
$min-desktop: 1200px;
